/* Colores */

$dark:black;
$white:white;
$black-bg-gradient:linear-gradient(rgba(0,0,0,0.250), rgba(0,0,0,0.250));
$dark-gray:#1B262C;
$blue-shadow:#0F4C75;
$gray:gray;
$dark-gray-two:#112B3C;
$gray-bg-gradient:linear-gradient(rgba(255, 255, 255, 0.3), rgba(60, 60, 60, 0.3));
$blue:rgb(2, 2, 94);
$blue-two:rgb(2, 2, 131);



/* Fonts */

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

$font-roboto:'Roboto', sans-serif;
$font-esteban:'Esteban', serif;

/* Animaciones */

@keyframes aparicion {
    0%{
        opacity: 0;
        transform: scale3d(.70,.70,1);
    }
    
    20%{
        opacity: 0;
        transform: scale3d(.70,.70,1);
    }
    100%{
        opacity: 1;
        transform: scale3d(1,1,1);
    }
}